body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
    width: 100%;
    max-width: 600px; /* You can adjust this max-width as needed */
    padding: 10px;
    box-sizing: border-box;
}

#selectedImage {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.message {
    margin-top: 10px;
    font-size: 18px;
    color: #333;
}

#adminResetButton {
    font-size: 40px; /* Increased font size */
    padding: 20px 40px; /* Increased padding */
    width: 100%; /* Full width within container */
    max-width: 600px; /* Increased max-width */
}
